{{You are invited to Save On Stitch Online Order System}}
Welcome to Save On Stitch Online Order System!<br /><br />

You can now place orders, keep track of latest order status, interact with Save On Stitch reps instantly online.<br /><br />
Click on [<a href="{invite_link}" target="_blank">register link</a>] to register and log in to your account using your email. <br /><br />
If you have any questions, please feel free to contact us at <br /><br />
sales@saveonstitch.com<br /><br />
--------<br />
Sincerely,<br /><br />
Save On Stitch System Admin