{{How to reset your Save On Stitch ID password.}}
Dear {username}!<br /><br />

To reset your Save On Stitch Online ID password, simply click the link below. That will take you to a web page where you can create a new password.<br /><br />

Please note that the link will expire three hours after this email was sent.<br /><br />

<a href="{link}" target="_blank">Reset your ID password ></a><br /><br />

sales@saveonstitch.com<br />
--------<br />
Sincerely,<br /><br />
Save On Stitch System Admin