{{Save On Stitch Order [{order_id}]: Further Action Required}}
The order [{order_id}] with a due date [{due_date}] still has NOT been confirmed or finalized. <br /><br />
Please login online or contact us to complete all order requirements as soon aspossible.<br /><br />
Please note if an order cannot be confirmed at least 3 days before the due date,<br />
a rush service<br />
surcharge may apply.<br /><br />
To see more details, please login to your account online.<br />
[<a href="{domain}/Order/edit/{order_id}" target="_blank">{domain}/Order/edit/{order_id}</a>]<br /><br />
--------<br />
Sincerely,<br />
Save On Stitch System Admin<br />