{{Save On Stitch Order [{order_id}]: Status Update}}
Order: [{order_id}]<br />
Due date: [{due_date}]<br />
Current Status: [{status}]<br /><br />
Please note if an order cannot be finalized at least 3 days before the due date,a rush service<br /><br />
surcharge may apply.<br /><br />
To see more details, please login to your account online.<br />
[<a href="{domain}/Order/edit/{order_id}" target="_blank">{domain}/Order/edit/{order_id}</a>]<br /><br />
--------<br />
Sincerely,<br />
Save On Stitch System Admin<br />